
.workarea
{
/*border:1px solid green;*/
width:900px;
margin:20px auto 20px; /*сверху слева\справа снизу*/
color:blue; 
overflow:hidden;
padding:20px;
font-family: "Monotype corsiva";
font-size: 200%;
}
.workarea2
{
/*border:1px solid green;*/
width:900px;
margin:20px auto 20px; /*сверху слева\справа снизу*/
color:blue; 
overflow:hidden;
padding:20px;
font-family: "Monotype corsiva";
font-size: 70%;
}
.data
{
/*border:1px solid green;*/
width:900px;
margin:20px auto 20px; /*сверху слева\справа снизу*/
color:blue; 
overflow:hidden;
padding:20px;
font-family: "Monotype corsiva";
font-size: 70%;
}